<div class="card card-gossip">
  <div class="card-header">
    <H2><%= @gossip.title %></h2>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= @gossip.content %></p>
      <footer class="blockquote-footer">Cet article a été écrit par <b><%= @gossip.user.first_name %></b> de la ville de <b><%= link_to @gossip.user.city.name, city_path(@gossip.user.city_id) %></b> : <%= link_to "plus d'infos sur l'auteur", user_path(@gossip.user.id) %></footer>
      <% if @gossip.likes.where(user_id: current_user).count > 0 %>
        <%= link_to "Dislike", like_path(:id => @gossip.likes.sample), class:"btn btn-danger", data: { method: "DELETE" } %>
      <% else %>
        <%= link_to "liker", like_index_path(:id => @gossip.id), class:"btn btn-danger", data: { method: "post" } %>
      <% end %>
      <%= @gossip.likes.count %>
    </blockquote>
  </div>
</div>

<div class="card create-potin">
  <div class="card-header">
    <h2>Commenter le gossip</h2>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <%= form_tag url_for(controller: :comment, action: :create, id: @gossip.id), method: "post" do %>

        <%= label_tag 'Description de ton potin' %>
        <%= text_area_tag 'content' %>
        <br /> <br />

        <%= submit_tag "Commenter" %>

      <% end %>
    </blockquote>
    <% @gossip.comments.each do |comment| %>
      <h5>A été écrit par <%= comment.user.first_name %> :</h5>
      <p><%= comment.content %>
        <% if current_user == comment.user %>
          <%= link_to "Editer", edit_comment_path(comment.id) %>
        <% end %>
      </p>
    <% end %>
  </div>
</div>
